# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Python virtual environment
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# macOS
.DS_Store
